# Bonus: Temperature Analysis I

In [15]:
import pandas as pd
from datetime import datetime as dt

In [16]:
# "tobs" is "temperature observations"
df = pd.read_csv('..\Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [17]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [18]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [19]:
from scipy import stats

In [20]:
# Identify the average temperature for June

NameError: name 'session' is not defined

In [21]:
# Identify the average temperature for December

In [ ]:
# Run paired t-test

### Analysis